<div class="container-fluid">
	<div class="row" id="controls">

		<select ng-model="orderBy" ng-click="submit()">
			<option value="">orderBy</option>
			<option value="rating">Rating</option>
			<option value="popularity">Popularity</option>
		</select>

		<select ng-model="orderBy" ng-click="submit()">
			<option value="">orderBy</option>
			<option value="rating">Rating</option>
			<option value="popularity">Popularity</option>
		</select>

		<select ng-model="genre" ng-click="submit()">
			<option value="">genre</option>
			<option ng-repeat="genre in genres" value="{{genre.id}}">{{genre.name}}</option>
		</select>

	</div>
</div>



<div class="col-sm-6" ng-repeat="movie in movies" ui-sref="movie">
	<div class="row" style="margin-bottom: 20px;">
		<div class="col-sm-5">
			<img src="{{baseImageURL}}{{imageSize}}{{movie.poster_path}}" style="width: 100%">
		</div>
		<div class="col-md-7">
			<h3 class="movieTitle">{{movie.title}}</h3>
			<h5 class="movieRating">{{movie.vote_average}}</h5>
			<h5 class="movieRelease"><span class="glyphicon glyphicon-star"></span>{{movie.release_date}}</h5>
			<p class="movieOverview">{{movie.overview}}</p>
		</div>
	</div>
	
</div>
