<div class="container">
	<div class="row" id="controls">

		<div class="col-sm-2">
			<p>Order By</p>
			<select ng-model="orderBy" ng-click="submit()">
				<option value="rating">Rating</option>
				<option value="popularity" selected>Popularity</option>
			</select>
		</div>

		<div class="col-sm-2">
			<p>Year</p>
			<select ng-model="year" ng-click="submit()">
				<option value="">All</option>
				<option value="{{year}}" ng-repeat="year in years">{{year}}</option>
			</select>
		</div>

		<div class="col-sm-2">
			<p>Genre</p>
			<select ng-model="genre" ng-click="submit()">
				<option value="">All</option>
				<option ng-repeat="genre in genres" value="{{genre.id}}">{{genre.name}}</option>
			</select>
		</div>

	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-6 movieBlock" ng-repeat="movie in movies" ui-sref="movie({id: '{{movie.id}}'})">
			<div class="container-fluid">
				<div class="row movieBlockContent">
					<div class="col-sm-5" style="padding-left: 0">
						<img src="{{baseImageURL}}{{imageSize}}{{movie.poster_path}}" style="width: 100%">
					</div>
					<div class="col-md-7">
						<h4 class="movieTitle">{{movie.title}}</h4>
						<h5 class="movieRating">{{movie.vote_average}}<span class="glyphicon glyphicon-star"></span></h5>
						<h5 class="movieRelease">{{movie.release_date}}</h5>
						<p class="movieGenre">{{genreIdsToGenres(movie.genre_ids)}}</p>
					</div> 
				</div>
			</div>
		</div>
	</div>
</div>

<nav aria-label="Page navigation" id="pagination">
  <ul class="pagination">
    <li>
      <a ng-click="prevPage()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li ng-repeat = "page in pagelist"><a href="">{{page}}</a></li>
    <li>
      <a ng-click="nextPage()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>