body {
	background-color:; #E0E0E0;
}

#controls {
	margin-bottom: 20px;
}

#controls select {
	size: 5;
	height: 30px;
	border-radius: 3px;
	transition: 1s;
}

#controls p {
	margin-bottom: 5px;
}

.movieBlock {
	cursor: pointer; 
	padding-left: 0;
	margin-bottom: 25px;
}

.movieBlockContent {
	background-color: white;
	margin-left: 0;

	box-shadow: 2px 2px 10px #b3b3b3;
	border-top: solid 1px #e6e6e6;
}

.movieTitle {
	margin-top: 10px;
	font-weight: bold;
}

.movieRating {
	margin-top: 0;
	display: inline-block;
}

.movieRelease {
	margin-top: 0;
	display: inline-block;
	float: right;
}

.movieGenre {
	font-style: italic;
	color: #808080;
}

#pagination {
	text-align: center;
}